:root{
    --text: #2f2f2f;
    --background: #e6fde2;
    --primary: #b254c0;
    --secondary: #fceaed;
    --accent: #571560;
}
*,
*::before,
*::after{
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}


*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif, monospace;
    background-color: var(--background);
    color: var(--text);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container{
    position: relative;
    width: 90%;
    height: 90%;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 0.25rem;
    flex-direction: row;
}
.rightside-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vw 2vw 2vw 0;
    background-color: var(--primary);
    width: 85%;
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    padding-bottom: 2vh;
    padding-right: 2vh;
    height: max-content;

}

.page{
    background-color: var(--secondary);
    display: none;
    height: min-content;
    z-index: 2;

}

/*.page * {*/
/*    color: #2c2c2c;*/
/*}*/

.content-container{
    width: 95%;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    overflow: scroll;
}
.content-container3{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: auto;
    gap: 10px;

}

.project{
    border-bottom: 1px solid var(--accent);
}
.project-title{
    font-family: 'Martian Mono', monospace;
    width: 100%;
    height: 20%;
    background: var(--accent);
    padding: 1vw;
    font-weight: bold;
    color: white;
}
.project-content{
    height: 60%;
    overflow: clip;
    margin: 1vh;
    padding: 12px 15px;

}
.project-content p {
    margin-left: 10px;
}

.project-content li{
    margin-left: 20px;


}
.project-box{
    border-radius: 1vw;
    height: max-content;
    margin: 1vw;
    display: flex;
    border: 3px solid var(--accent);
    flex-direction: column;
    overflow: scroll;
    cursor: pointer;
    justify-self: center;
}

.project-box:hover{
    box-shadow: 1vw 1vw 1vw black;
    transition: all 0.5s;
}
.project-footer{
    display: flex;
    align-items:  center;
    justify-content: center;
}

.framework{
    margin: 2px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.framework li{
    padding: 3px;
    background-color: var(--primary);
    margin: 2px;
    width: min-content;
    border-radius: 1vw;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 95%;
    padding: 1vw;
    overflow: scroll;
    height: min-content;
    border-top: 1px solid var(--accent);

}

.content-header{
    font-family: 'Martian Mono', monospace;
    font-weight: bold;
    font-size: 25px;
    margin: 0 0 1vw 0;
    text-decoration: underline;
    text-decoration-color: black;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1vh;
    row-gap: 1vw;
}

.grid li{
    list-style: none;
    border: 2px solid var(--accent);
    border-radius: 0.5rem;
    padding: 3px;
    background-color: white;
}

.content-container2{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.education-content-box header{
    display: flex;
    font-family: 'Martian Mono', monospace;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--accent);
    flex: 0.2;
    color: white;
    padding: 12px 0;
}

.education-content-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 1vw;
    height: max-content ;
    border: 2px solid var(--accent);
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius:1vw ;
}
.education-content{
    margin: 1vw;
    flex: 0.8;
}
.education-content em{
    font-weight: bold;
}
.content-container4{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.profile{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: min-content;
    margin-bottom: 2vw;
    /*border-bottom: 2px solid var(--accent);*/
}
.profile img{
    height: 192px;
    width: 192px;
    background-color: white;
    border: solid 4px var(--accent);
    border-radius: 50%;
    overflow: hidden;
    margin: 1vw;
}
.profile-description{
    background-color: rgba(45, 45, 45, 0.25);
    padding: 12px 15px;
    border-radius: 1rem;
    color: var(--text);
    margin: 12px 15px;
    flex: 1.5;
    /*background-color: green;*/
}

.right-profile{
    flex: 1;
}
.socials{
    width: 292px;
    display: flex;
    height: min-content;
    align-items: center;
    padding: 2vw;
    justify-content: space-around;

}



.leftside-container{
    font-family: 'Martian Mono', monospace;
    margin: 2vw 0 0 2vw;
    display: flex;
    flex-direction: column;
    width: 15%;
    height: min-content;
    font-size: 2vh;
    z-index: 1;
}
h1{
    font-family: 'Martian Mono', monospace;
}

.tab-group{
    width: 100%;
    height: min-content;
    background-color: var(--primary);
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 2vw;
    cursor: pointer;
    min-height: 20px;
}
.tab{

    display: flex;
    flex: 1;
    align-items: center;
    padding: 1vh;
    margin: 2vh 1px 1px 2vh;
    transition: all 0.3s;
}

.active-tab{
    background-color: var(--secondary) ;
    margin-right: 0;
    width: 105%;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    box-shadow: 0.5vh 1vh 0.5vh black;
    z-index: 2;
    margin-top: 2vh;
    font-weight: bold;

}
/*start*/
.burger-container {
    display: inline-block;
    cursor: pointer;
    padding: 2vh 0 2vh 1vw;

}
.burger-container:hover .bar{
    background-color: var(--secondary);
}
.burger{
    width: 100%;
    display: flex;
    background-color: var(--primary);
    align-items: center;
    justify-content: center;
    height: min-content;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    position: sticky;
}

.bar {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {opacity: 0;}

/* Rotate last bar */
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}
/*end*/

.page-active{
    margin-top: 2vh;
    position: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 98%;
    height: min-content;
    border-radius: 0.25rem;
    z-index: 2;
    box-shadow: 0.5vh 1vh 0.5vh black;

    padding: 2vw;
    min-height: 295px;
}

.profile-description{
    align-content: center;
}

.socials{
    display: flex;
    flex-direction: column;
}

.social-img{
    display: flex;
}
.social-img img{
    padding: 2px;
    margin: 10px;
    width: 50px;
}
.social-img img:hover{
    border: 2px solid black;
    border-radius: 5px;
    background-color: cornflowerblue;
}
@media only screen and (max-width: 980px) {
    .profile{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .rightside-container{
        padding-left: 2vh;
    }
}
@media only screen and (max-width: 817px){
    .burger{
        display: flex;
        width: 50px;
        margin-left: -25px;
    }
    .leftside-container{
        padding-right: 2vw;
        position: absolute;
        left: 0;
        width: max-content;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        justify-self: start;
        background-color: var(--primary);
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius:  0.25rem;
    }
    .tab-group{
        display: none;
        width: max-content;
        height: min-content;
        padding-right: 2vw;
    }
    .active-tab{
        max-width: 95%;
    }
    .tab p{
        max-width: 90%;
    }
}
@media only screen and (min-width: 817px){
    .burger{
        display: none;
    }
    .tab-group{
        display: flex;
    }


}
